/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* General */

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.medisur-gradient {
    height: 100vh;
    background: linear-gradient(to bottom, #4CE7D2, #11607A);
    justify-content: center;
}

h1 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    margin: 4vh;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-grow: 1;
}

/* Log-In */

.log-bg {
    display: flex;
    justify-content: normal;
    min-height: 40vh;
    min-width: 90vw;
    background: rgba(151,215,217, 1);
    box-shadow: rgba(0,0,0, 0.2) 0 4px 4px;
    border-radius: 20px;
}

.log-input {
    margin-top: 15px;
    border-radius:5px;
    background-color: rgba(178,179,179,0.65);
    border-style : none;
    height: 25px;
    opacity: 70%;
}

.submit{
    /* Ajuster l'espacement sur des telephone entre les boxs et le titre (et plus grosses, il faut qu'elles soient épaisses comme sur la maquette) */
    display: flex;
    justify-content: flex-end;
    margin-top: 30px ;
    border-radius: 5px;
    background: rgba(157,157,157,0.65);
    color: white;
    padding: 2px 24px;
    height: 2rem;
    border-style : none;
}

.log-user-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 8vh;
}

.log-user-button {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-size: 3vh;
    margin: 10px;
    user-select: none;
    padding: 0;
}

.log-user-button svg {
    display: block;
    width: 6vh;
    height: 6vh;
    margin-bottom: 5px;
}

.log-user-button span {
    display: block;
    text-align: center;
    font-size: 2vh;
}

