/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* General */
h1 {
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    margin-top: 4vh;
}

form {
    width: 100%;
    flex-grow: 1;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.medisur-gradient {
    height: 100vh;
    background: linear-gradient(to bottom, #4CE7D2, #11607A);
    justify-content: center;
}

input {
    border-style: none;
    font-family: "Roboto", sans-serif;
    font-size: 1.2em;
}

input[type="submit"]:active {
    box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 3px;
    transform: scale(1.05);
    transition: ease 0.1s;
}

input:not(input[type="submit"]):focus {
    outline-style: outset;
    outline-color: #1D1B20;
}

input[type="password"] {
    background: url('../assets/password_icon.png') rgba(178, 179, 179, 0.65) no-repeat 10px;
    background-size: 10%;
}

/* Log-In */

.log-bg {
    justify-content: normal;
    height: 40vh;
    width: 90vw;
    border-radius: 30px;
    background: rgba(176,225,228, 0.8);
    box-shadow: rgba(0,0,0, 0.2) 0 4px 4px;
}

.log-input {
    height: 20%;
    width: 80%;
    padding-left: 12%;
    margin-top: 10px;
    border-radius: 20px;
    background: url('../assets/identifier_icon.png') rgba(178, 179, 179, 0.65) no-repeat 10px;
    background-size: 10%;
    color: #809191;
}

.log-bg input[type="submit"] {
    width: 50%;
    margin-top: 30px ;
    padding-left: 0;
    border-radius: 15px;
    background: rgba(157,157,157,0.65);
    color: white;
}

/* New User Page */









/* desktop import */

@media only screen and (min-width: 700px) {

    /* general */
    h1 {
        font-size: 60px;
    }

    input {
        font-size: 2em;
    }

    input[type="submit"]:hover {
        box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 3px;
        transform: scale(1.02);
        transition: ease 0.1s;
    }

    input[type="submit"]:active {
        background-color: rgba(133, 133, 133, 0.65);
        box-shadow: rgba(0, 0, 0, 0.25) -2px -2px 3px;
        transform: scale(1);
        transition: ease 0.1s;
    }

    /* Log-In */
    .log-bg {
        width: 50%;
        max-width: 900px;
    }

}