nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    background: #1E6684;
    height: 6.9%;
    width: 100%;
}

nav h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 32px;
    color: #1D1B20;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

nav svg, nav a {
    height: 70%;
    width: auto;
}

nav a svg {
    height: 100%;
}

.login-icon {
    height: 40px;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
