nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100%;
    padding: 0 10px;
    background: #1E6684;
}

nav h1 {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 32px;
    color: #1D1B20;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

nav svg, nav a {
    height: 70%;
    width: auto;
}

nav a svg, nav a img {
    height: 4.9vh;
    width: 4.9vh;
    border-radius: 50%;
}

