@import "tailwindcss";


@theme {
    /* OverWrite */
    --color-cyan-800: #11607A;
    --color-teal-300: #4CE7D2;
    /* New colors */
    --color-logIn-bg: rgba(176, 225, 228, 0.80);
    --color-main-gray: #9D9D9D;
    --color-input-txt: #8ea0a1;
}